[submodule "common"]
	path = common
	url = https://github.com/HinaPE/common.git
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/BFU-Graphics/Hina_glad.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/BFU-Graphics/Hina_assimp.git
[submodule "deps/glfw3"]
	path = deps/glfw3
	url = https://github.com/BFU-Graphics/Hina_glfw3.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/Xayah-Hina/Kasumi_imgui.git
