[submodule "common"]
	path = common
	url = https://github.com/HinaPE/common.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/BFU-Graphics/Hina_imgui.git
[submodule "deps/nfd"]
	path = deps/nfd
	url = https://github.com/BFU-Graphics/Hina_nfd.git
[submodule "deps/sf_libs"]
	path = deps/sf_libs
	url = https://github.com/BFU-Graphics/Hina_sf_libs.git
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/BFU-Graphics/Hina_glad.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/BFU-Graphics/Hina_assimp.git
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/glfw3"]
	path = deps/glfw3
	url = https://github.com/BFU-Graphics/Hina_glfw3.git
